<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.mongolian</string>
	<key>CFBundleName</key>
	<string>Mongolian</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Mongolian (qwerty)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.mongolian.mongolian(qwerty)</string>
		<key>TISIntendedLanguage</key>
		<string>mn-US</string>
	</dict>
	<key>KLInfo_Mongolian (traditional)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.mongolian.mongolian(traditional)</string>
		<key>TISIntendedLanguage</key>
		<string>cmg-Mong</string>
	</dict>
</dict>
</plist>
